<div class="footer-container">
    <div class="custom-container">
        <div class="footer-first-block">
            <div class="footer-menu">
                <ul>
                    <li>
                        <h4>
                            <strong>My Account</strong>
                        </h4>
                    </li>
                    <li>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <a href="@Url.RouteUrl("LoginRoute")">Log In</a>   
                    </li>
                    <li>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <a href="@Url.RouteUrl("CartRoute")">Shopping cart</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <h4>
                            <strong>Resources</strong>
                        </h4>
                    </li>
                    <li>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <a href="@Url.RouteUrl("AboutRoute")">About Us</a>
                    </li>
                    <li>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <a href="@Url.RouteUrl("FeedbackRoute")">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="footer-phone-text">
                <h4>
                    <strong>Call today at:</strong>
                </h4>
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                <span>+9 (999) 999 99 99</span>
            </div>
        </div>
        <div class="footer-second-block">
            <span>Location: 1623 San Pablo Avenue, Berkeley, CA 94702</span>
            <span>© 2017. Classic Lighting Company. All rights reserved.</span>
        </div>
    </div>
</div>